<div class="container">
            <div class="row">
                <nav class="navbar navbar-red">
                    <ul class="nav navbar-nav">
                        <li class="hover" ng-class="{active: is_navSelected(0)}"><a style="font-size: 40px;" ui-sref="app" ng-click="selectItem(0)">GAME DISCUSSIONS</a></li>
                        <li class="hover" ng-class="{active: is_navSelected(1)}"><a ui-sref="app.games" ng-click="selectItem(1)">Games</a></li>
                        <li class="hover" ng-class="{active: is_navSelected(2)}"><a ui-sref="app.movies" ng-click="selectItem(2)">Movies</a></li>
                        <li class="hover" ng-class="{active: is_navSelected(3)}"><a href="#" ng-click="selectItem(3)">About Us</a></li>
                    </ul>
                </nav>
            </div>
</div>   